[user]
    email = anilkeshwani@hotmail.com
    name = anilkeshwani

[merge]
    conflictstyle = diff3
    
[init] 
    defaultBranch = main

[core]
	editor = vim
	quotepath = false
	excludesFile = ${HOME}/.gitignore
    # pager = delta

# [interactive]
#     diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

# [diff]
#     colorMoved = default
# [delta]
#     side-by-side = true
#     line-numbers = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[i18n]
	logOutputEncoding = utf-8
